<div class="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
    <a class="navbar-brand" href="#">RAILS BLOG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample09">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to t(".home_header"), root_path, class: "nav-link" %>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <%= link_to t(".help_header"), help_path, class: "nav-link" %>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <%= link_to t(".about_header"), about_path, class: "nav-link" %>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <%= link_to t(".login_header"), login_path, class: "nav-link" %>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <%= link_to t(".logout_header"), logout_path, method: :delete, class: "nav-link" %>
          <span class="sr-only">(current)</span>
        </li>

      </ul>
      <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </nav>
</div>
