<!DOCTYPE html>
<html>
  <head>
    <%= link_to t (".English"), locale:"en" %>
    <%= link_to t (".Vietnamese"), locale:"vi" %>
    <title>SampleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
